@model DoAnDT.Models.HangSanXuat
@{
    ViewBag.Title = "Sửa thông tin hãng sản xuất";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>@ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("EditHangSX", "HangSX", FormMethod.Post, new {area = "Admin", id = "sualoaisp", autocomplete = "off" }))
                {

                    <div class="form-horizontal">
                        <div class="alert alert-info" style="display:none">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <span id="kiemtratrung"></span>
                        </div>
                        @Html.HiddenFor(model => model.HangSX)
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenHang, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TenHang, new { @class = "form-control", oninput = "kiemgiatritrung(this.value,\"" + @Url.Action("kiemtra", "HangSX") + "\",\"#loaiisok\")" })
                                @Html.ValidationMessageFor(model => model.TenHang)
                                <span id="loaiisok"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TruSoChinh, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TruSoChinh, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TruSoChinh)
                                <span id="loaiisok"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.QuocGia, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.QuocGia, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QuocGia)
                                <span id="loaiisok"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a class="btn btn-info" href='javascript: submitform("sualoaisp")'>
                                    <i class="glyphicon glyphicon-wrench icon-white"></i>
                                    Cập nhật
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->