@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
      
        using (Html.BeginForm("", "Account"))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <div class="col-md-6">
                            <button type="submit" class="btn-block btn-lg btn btn-facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Đăg nhập bằng tài khoản @p.Caption của bạn"><i class="fa fa-facebook"></i>@p.AuthenticationType</button>
                        </div>
                    }

                </p>
            </div>
        }
    }
}
