@model EC_TH2012_J.Models.ManageUserViewModel

<p class="text-info">
    Bạn chưa đặt mật khẩu cho tài khoản này, hãy đặt mật khẩu lại.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Đặt mật khẩu</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "le-input" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "le-input" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="le-button huge" />
        </div>
    </div>
}
