@using DoAnDT.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<AspNetUser>


<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
        <tr>
            <th>
                <input type="checkbox" onclick="toggle(this)" />
            </th>
            <th>@Html.DisplayNameFor(model => model.First().Avatar)</th>
            <th>@Html.DisplayNameFor(model => model.First().UserName)</th>
            <th>@Html.DisplayNameFor(model => model.First().HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
            <th>Quyền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        <input type="checkbox" name="lstdel" value="@item.Id" />
    </td>
    <td><img src="@Url.Content("~/images/avatars/")@item.Avatar" width="70" height="70" /></td>
    <td class="center">@item.UserName</td>
    <td class="center">@item.HoTen</td>
    <td class="center">@item.Email</td>
    <td class="center">@item.PhoneNumber</td>
    <td class="center">
        @if (@item.AspNetRoles.First().Name.Equals("Khách hàng"))
        {
<span class="label label-success">@item.AspNetRoles.First().Name</span> }
                else if (@item.AspNetRoles.First().Name.Equals("Quản trị viên"))
                {
<span class="label label-danger">@item.AspNetRoles.First().Name</span> }
                else if (@item.AspNetRoles.First().Name.Equals("Nhân viên"))
                {
<span class="label label-info">@item.AspNetRoles.First().Name</span> }
                else if (@item.AspNetRoles.First().Name.Equals("Nhà cung cấp"))
                {
<span class="label label-warning">@item.AspNetRoles.First().Name</span> }
                else
                {
<span class="label" style="background-color:#808080; text-decoration:line-through">@item.AspNetRoles.First().Name</span>}
    </td>
    <td class="center">

        <a class="btn btn-success" href='javascript:ChiTietItem("@Url.Action("UserDetail", "Account")","@item.Id")'>
            <i class="glyphicon glyphicon-zoom-in icon-white"></i>
            Chi tiết
        </a>

    </td>
</tr>}
    </tbody>
</table>

<div class="pagination-holder">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
            <div id="nav_grid">
                @Html.PagedListPager(Model, page => Url.Action("TimUser", "Account", new { key = @ViewBag.key, email = @ViewBag.email, hoten = @ViewBag.hoten, phone = @ViewBag.phone, quyen = @ViewBag.quyen, page = page }))
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="result-counter">
                Có tât cả <span>@Model.TotalItemCount</span> dòng
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.pagination-holder -->
<div id="show-dialog-detail" style="display:none">
</div>