@model DoAnDT.Models.Giohang
<section id="your-order">
    <h2 class="border h1">Order của bạn</h2>
    <form>
        @for (int i = 0; i < Model.getGiohang().Count; i++)
        {
            <div class="row no-margin order-item">
                <div class="col-xs-12 col-sm-1 no-margin">
                    <a href="#" class="qty">@Model.getGiohang()[i].Soluong x</a>
                </div>
                <div class="col-xs-12 col-sm-9 ">
                    <div class="title"><a href="#"> @Model.getGiohang()[i].sanPham.TenSP</a></div>
                    <div class="brand">sony</div>
                </div>
                <div class="col-xs-12 col-sm-2 no-margin">
                    <div class="price">@string.Format("{0:0,0}", @Model.getGiohang()[i].Thanhtien)  Đồng</div>
                </div>
            </div><!-- /.order-item -->
        }
    </form>
</section><!-- /#your-order -->
<div id="total-area" class="row no-margin">
    <div class="col-xs-12 col-lg-4 col-lg-offset-8 no-margin-right">
        <div id="subtotal-holder">
            <ul class="tabled-data inverse-bold no-border">
                <li>
                    <label>cart subtotal</label>
                    <div class="value ">@string.Format("{0:0,0}",@Model.Tinhtongtiensanpham()) Đồng</div>
                </li>
                <li>
                    <label>shipping</label>
                    <div class="value">
                        <div class="radio-group">
                            <input class="le-radio" type="radio" name="group1" value="free"> <div class="radio-label bold">Miễn phí  giao hàng</div><br>
                            <input class="le-radio" type="radio" name="group1" value="local" checked>  <div class="radio-label">local delivery<br><span class="bold">$15</span></div>
                        </div>
                    </div>
                </li>
            </ul><!-- /.tabled-data -->
            <ul id="total-field" class="tabled-data inverse-bold ">
                <li>
                    <label>order total</label>
                    <div class="value">@string.Format("{0:0,0}",@Model.TinhtongtienCart()) Đồng</div>
                </li>
            </ul><!-- /.tabled-data -->
        </div><!-- /#subtotal-holder -->
    </div><!-- /.col -->
</div><!-- /#total-area -->
