@model List<DoAnDT.Models.DonhangKHModel>
@for (int i = 0; i < @Model.Count; i++)
{
    <div class="itemphieu">
        <div class="col-md-1 itemthumbphieu">
            <a href="@Url.Action("Chitietphieu")"><img src="~/images/cartphieu.jpg" alt="img" title="xem chi tiết" /></a>
        </div>
        <div class="col-md-5">
            <div class="itemnamemua">
                <i>Tên người Mua :</i> @Model[i].nguoiMua.HoTen
            </div>
            <div class="itemnamemua">
                <i>Tên người nhan :</i> @Model[i].nguoiNhan
            </div>
            <div class="itemnamghichu">
                <i>Ghi chú :</i> @Model[i].donHang.Ghichu
            </div>
        </div>
        <div class="col-md-4">
            <div class="itemnamemua">
                Tổng tiền : @Model[i].donHang.Tongtien
            </div>
            <div class="itemnamemua">
                Ngày mua : @Model[i].donHang.Tongtien
            </div>
            <div class="itemnamghichu">
                Địa chỉ : @Model[i].donHang.Diachi
            </div>
        </div>
        <div class="col-md-2">

            @if (@Model[i].donHang.TinhTrangDH <= 1)
            {
                <div id="itemtrangthai">
                    <i>Trạng thái : @Model[i].tinhTrangDH .</i>
                </div>
                <div class="itemnamghichu">
                    <a href="javascript:;" onclick="Huydonhang('@Model[i].donHang.MaDH')">Hủy đơn đặt hàng</a>
                </div>
            }
            else
            {
                <div id="itemtrangthai">
                    <i>Trạng thái : @Model[i].tinhTrangDH .</i>
                </div>
            }

        </div>

    </div>
}
