@using Microsoft.AspNet.Identity
@model DoAnDT.Models.BinhLuan

<script>
    function test() {
        $('html, body').animate({
            scrollTop: $("#reviews").offset().top
        }, 500);
        $('#HoTen').val('');
        $('#NoiDung').val('');
    }
</script>
<h2>Viết bình luận</h2>
@using (Ajax.BeginForm("AddComment", "Comment", null, new AjaxOptions { UpdateTargetId = "Comments", OnSuccess = "test" }, new { @id = "contact-form", @class = "contact-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSP, new { htmlAttributes = new { @class = "le-input" } })
    <div class="row field-row">
        @if (!Request.IsAuthenticated)
        {
            <div class="col-xs-12 col-sm-6">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "le-input", placeholder = "Họ tên của bạn" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-12 col-sm-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "le-input", placeholder = "Email của bạn" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="col-xs-12 col-sm-6">
                <label>Xin chào @ViewBag.Name</label>
            </div>
        }
    </div>
    @*rate bang star*@
    @*<div class="field-row star-row">
            <label>your rating</label>
            <div class="star-holder">
                <div class="star big" data-score="0"></div>
            </div>
        </div>*@<!-- /.field-row -->
    <div class="field-row">
        <label>Sản phẩm này như thế nào?</label>
        @Html.TextAreaFor(model => model.NoiDung, new { @class = "le-input", @rows = "8"})
        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
    </div><!-- /.field-row -->
    <div class="buttons-holder">
        <button type="submit" class="le-button huge" formmethod="post">Gửi</button>
    </div><!-- /.buttons-holder -->
}
