@model DoAnDT.Models.KhuyenMai
@{
    ViewBag.Title = "Chương trình khuyến mãi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>@ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info" id="alert-info" style="display:none"></div>
                <div class="form-inline" style="text-align: right; padding: 10px">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="red">Start</i></span>
                        <input id="startday" type="date" class="form-control" onchange="timkiemKhuyenMai()">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="red">End</i></span>
                        <input id="endday" type="date" class="form-control" onchange="timkiemKhuyenMai()">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search red"></i></span>
                        <input id="inputIcon" type="text" class="form-control" placeholder="Nhập tên chương trình" oninput="timkiemKhuyenMai()">
                    </div>
                    <div class="input-group">
                        <a class="btn btn-danger" href='javascript:multibledel("@Url.Action("MultibleDel", "KhuyenMai")")'>
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Xóa chương trình đã chọn
                        </a>
                    </div>

                </div>
                <div class="Ajax-Table">
                    @Html.Action("TimKhuyenMai", "KhuyenMai")
                </div>

            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>Thêm @ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">

                @using (Html.BeginForm("ThemKhuyenMai", "KhuyenMai", FormMethod.Post, new { autocomplete = "off", enctype = "multipart/form-data" }))
                {

                    <div class="form-horizontal">
                        <div class="alert alert-info" style="display:none">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <span id="kiemtratrung"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenCT, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TenCT, new { @class = "form-control", oninput = "kiemgiatritrung(this.value,\"" + @Url.Action("kiemtra", "KhuyenMai") + "\",\"#loaiisok\")" })
                                @Html.ValidationMessageFor(model => model.TenCT)
                                <span id="loaiisok"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NgayBatDau, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NgayBatDau)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NgayKetThuc, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NgayKetThuc)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AnhCT, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <img id="anhdaidien" src="@Url.Content("~/template/")assets/images/blank.gif" alt="your image" width="360" height="250" />
                                <input type="file" name="ad" accept=".jpg" class="form-control" onchange="readURL(this, '#anhdaidien');" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NoiDung, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control"  })
                                @Html.ValidationMessageFor(model => model.NoiDung)
                                <script>
                                    CKEDITOR.replace('NoiDung');
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Thêm mới" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
    <!--/span-->
</div><!--/row-->

